@font-face {
  font-family: "Pixeloid";
  src:
    local("Pixeloid"),
    url("../fonts/pixeloid-font/PixeloidSans-mLxMm.ttf") format("truetype");
}

* {
  color: #533545;
}

body {
  font-family: "Pixeloid";
  -webkit-font-smoothing: none;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #E9FCD9;
}

.menu {
  padding-top: calc(2rem + 8vh);

  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    font-size: calc(1.5em + 64px);
    margin-bottom: 0.4em;
  }

  button {
    font-size: calc(1em + 32px);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button, input, table, input.submit, .toast {
  all: unset;
  margin: 0.15em;
  padding: 0.1em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  box-shadow: min(-2px, -0.1em) 0 0 0 #533545,
              max(2px, 0.1em) 0 0 0 #533545,
              0 min(-2px, -0.1em) 0 0 #533545,
              0 max(2px, 0.1em) 0 0 #533545;
}

.toast {
  position: fixed;
  bottom: 2vh;
  font-size: 1.5em;
  transition: opacity 0.2s;
}

.toast.success {
  background-color: #5EE270;
}

.toast.error {
  background-color: #FC3500;
}

dialog {
  border: none;
  box-shadow: -0.15em 0 0 0 #533545,
              0.15em 0 0 0 #533545,
              0 -0.15em 0 0 #533545,
              0 0.15em 0 0 #533545;
}

button, input.submit {
  cursor: pointer;
}

button:hover {
  background-color: #4EC0CA;
}

button:disabled, input.submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input {
  cursor: text;
}

table {
  padding: 0;
}
