@font-face {
  font-family: "Flappybirdy";
  src:
    local("Flappybirdy"),
    url("../fonts/flappybirdy-font/FlappybirdyRegular-KaBW.ttf") format("truetype");
}

@font-face {
  font-family: "Pixeloid";
  src:
    local("Pixeloid"),
    url("../fonts/pixeloid-font/PixeloidSans-mLxMm.ttf") format("truetype");
}

body {
  font-family: "Pixeloid";
  -webkit-font-smoothing: none;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.menu {
  font-family: "Flappybirdy";
  padding-top: calc(2rem + 8vh);

  display: flex;
  flex-direction: column;
  align-items: center;

  #title {
    font-size: calc(2em + 96px);
    margin-bottom: 0.2em;
  }

  button {
    font-size: calc(1em + 48px);
  }

  button:hover {
    background: yellow;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button, input, table, input.submit, .toast {
  all: unset;
  margin: 0.15em;
  padding: 0.1em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  box-shadow: min(-2px, -0.1em) 0 0 0 black,
              max(2px, 0.1em) 0 0 0 black,
              0 min(-2px, -0.1em) 0 0 black,
              0 max(2px, 0.1em) 0 0 black;
}

.toast {
  position: fixed;
  bottom: 2vh;
  font-size: 1.5em;
  transition: opacity 0.2s;
}

button, input.submit {
  cursor: pointer;
}

button:disabled, input.submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input {
  cursor: text;
}

table {
  padding: 0;
}
